body {
    background-color: rgb(136, 124, 124)
}

.borderFooter {
    border-top: 10px solid;
    border-color: rgb(10, 10, 10);
    background-color: black;
    height: 100px;
}

.footerCopy {
    background-color: black;
}

img{
    margin: auto;
    width: 100px;
    height: 100px;
}