[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Bootstrap · The most popular HTML, CSS, and JS library in the world.
Type=Link
URL=https://getbootstrap.com/
Icon=text-html
