
  body {
    background-color: rgb(136, 124, 124);
  }

  h2{
    text-align: center;
    }
    


.borderFooter {
    border-top: 10px solid;
    border-color: rgb(54, 50, 50);
    background-color: black;
    height: 100px;
    margin-top: 10px;
}

.footerCopy {
    background-color: black;
}

p{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
/* //Formulaire/////////////////////////////////////////////////////////////////////////////////////////////////// */

.bottonConnecter{
    width: 300px;
    margin-top: 40px;
}

.bottonInscrition{
    width: 200px;
    background-color: brown;
}

.container{
    background-color: #eee;
    height: auto;
    border-radius: 5px;
   
}

.formPadding{
    padding:5%;
}

