
  body {
    
        background-image: url("https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.wallpaperup.com%2Fuploads%2Fwallpapers%2F2013%2F12%2F11%2F191759%2Fae5fb76ec7d4e6e611258b64cb4ed5fb.jpg&f=1");
    
  }

  h2{
    text-align: center;
    }
    



p{
    text-align: center;
    font-size: 50px;
    margin-top: 30px;
}
/* //Formulaire/////////////////////////////////////////////////////////////////////////////////////////////////// */

.bottonConnecter{
    width: 300px;
    margin-top: 40px;
}

.bottonInscrition{
    width: 200px;
    background-color: brown;
}

.container{
    background-color: #eee;
    height: auto;
    border-radius: 5px;
   
}

.formPadding{
    padding:5%;
}

.hoverHome:hover{
    background-color: grey;
    
}

