body {
    color: #777;
}

.jumbotron { 
    background-color: #525050; /* Gris */
    color: #ffffff;
}

.chien {
    width: 80%;
    height: 80%;
    opacity: 0.8;
}

.chien:hover {
    opacity: 1;
}
