body {
    color: #777;
}

.jumbotron { 
    background-color: #525050; /* Gris */
    color: #ffffff;
}

.container {
}

.chien {
    width: 80%;
    height: 80%;
    opacity: 0.8;
}

.chien:hover {
    opacity: 1;
}

.borderFooter {
    border-top: 10px solid;
    border-color: rgb(10, 10, 10);
    background-color: black;
    height: 100px;
}

.footerCopy {
    background-color: black;
}