body {
    color: #777;
}

.jumbotron { 
    background-color: #525050; /* Gris */
    color: #ffffff;
}

.square {
    width: 100%;
    padding-bottom: 100%;
    background-size: cover;
    background-position: center;
}